extends ../layout 

block content
    body        
    form(action="/books/search" method="post")
        p
            input(type="input" class="search" name="query" placeholder="search")
            input(type="submit" class="search_btn" name="search")
    p
        a(class='button' href="/new") Create New Book  
    
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody 
            each book in books ? books : []
                tr
                    td
                        a(href="/books/" + book.id)= book.title
                    td= book.author
                    td= book.genre 
                    td= book.year

                        //- a(href=`/books/${book.id}`) #{book.title}
                    //- td #{book.author}
                    //- td #{book.genre}
                    //- td #{book.year}
    
   
    
    //- h3 Title: #{book.title}
    //- include by_line
    //- p book.shortDescription()
    //- a(href = "books/" + book.id) Read More &rarr;   


    //- p
    //- label(for='title') Title:
    //- input#title(type="text", name="title") 
    //- p
    //- label(for='author') Author:
    //- input#author(type="text", name="author")
    //- p
    //- label(for='genre') Genre:
    //- input#genre(type="text", name="genre") 
    //- p
    //- label(for='year') Year:
    //- input#year(type="text", name="year") 

    